/* font-family: 'Caveat', cursive;
font-family: 'Merienda', cursive;
font-family: 'Quicksand', sans-serif; */

/* Universal Styles */
* {
    border-radius: 1px;
}

html {
    font-size: 16px;
}

html, body {
    text-align: center;
    /* background-color: gainsboro; */
}

/* Header */